.slideshow-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .img-slideshow {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    animation: 8s zoomIn ease infinite;
  }
  
  
  @keyframes zoomIn {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
  }
  
  .slideshow-overlay {
  
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
  
    p {
      max-width: 800px;
      color: #fff;
      font-size: 80px;
      border-left: 8px solid rgb(255, 88, 54);
      margin-left: 120px;
      padding-left: 32px;
    }
  }
  
  .fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  