header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding: 0 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50px;
    }

    a {
        text-decoration: none;
        color: #fff;
        padding-left: 40px;
        transition: 0.2s;

        &:hover {
            color: rgba($color: #fff, $alpha: 0.7);
            letter-spacing: 1px;
            transition: 0.2s;
        }
    }
}