header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    padding: 0 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 50px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: lowercase;
        padding-left: 40px;
        transition: 0.2s;

        &:hover {
            color: rgba($color: #fff, $alpha: 0.7);
            letter-spacing: 1px;
            transition: 0.2s;
        }
    }
}

.headerDark {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.darkLinks {
    a {
        color: #06718F;

        &:hover {
            color: rgba($color: #06718F, $alpha: 0.7);
        }
    }
}